header,
main,
footer {
    margin: 1rem auto;
    max-width: 760px;
    font-family: 'Lato', sans-serif;

}

header {
    height: 70px;
    font-size: 50px;
}

img {
    width: 150px;
    height: 200px;
    /*position: absolute;*/
    float: right;
    top: 30px;
    right: 11.55em;
    box-shadow: 0px 0px 20px black;
}

header,
footer {
    color: #ffffff;
    background-color: brown;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

footer {
    font-size: 15px;
    /*height: 35px;*/
    line-height: .8rem;
}

main {
    padding: .1rem;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: 15px;
    margin-right: 4em;
    font-family: 'Carter One', cursive;
}
h2 {
    border-bottom: 1px solid black;
    line-height: 40px;
    font-family: 'Carter One', cursive;
}

footer a {
    color: white;
}

footer p {
    color: goldenrod;
}