/******************** All of my the top of my webpage or header css will go below ********************/

header {
    margin: 1rem auto;
    max-width: 50em;
    height: auto;
    background-color: brown;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.target-audience h1,
.color-scheme h1,
.title h1,
.typography h1 {
    border-bottom: 1px solid black;
}

h2 {
    font-family: 'Carter One', cursive;
    font-size: 1rem;
}

.target-audience,
.color-scheme,
.typography,
.title h1,
h2,
h3 {
    color: black;
    font-family: 'Carter One', cursive;
}

.headericon {
    height: 5em;
    margin-left: -14em;
}

header h1 {
    font-size: 1rem;
    text-align: center;
    line-height: 1px;
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    margin-top: -2.5em;

}

/*header nav*/
nav ul li a {
    display: flex;
    color: black;
    text-align: center;
    margin-left: 2em;
    padding: .75rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Carter One', cursive;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a:hover {
    color: yellow;
}

nav {
    background-color: burlywood;
    text-align: center;
    margin: 2rem;
    width: 100%
}

/******************** All of my the middle of my webpage or main css will go below ********************/

main {
    padding: .1rem;
}

.title,
.target-audience,
.color-scheme,
.typography {
    max-width: 62.75em;
    margin: 0 auto;
    display: block;
    font-size: .8rem;
    padding-left: 2em;
    background-color: cornsilk;
}

.color-scheme {
    background-color: white;
}

/*table from w3school ex:*/
.tcolor,
.tprime,
.tsecond,
.taccent,
.ttypo,
.ttypo1,
.ttypo2,
.ttypo3,
.ttypo4,
.ttypo5 {
    height: 1em;
    background-color: cadetblue;
    width: 15em;
    text-align: left;
    font-size: 2em;
    padding: .85em;


}

.ttypo3 {
    font-family: 'Lato', sans-serif;
}

.tprime {
    background-color: brown;
}

.tsecond {
    background-color: cornsilk;
}

.taccent {
    background-color: burlywood;
}

.purpose {
    padding-left: 2em;
}

.icon {
    height: 6em;
}

.purpose p {
    padding-right: 2em;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

/*target audience*/
.personas {
    padding-left: 2em;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.cbackground,
.vbackground {
    text-decoration: none;
    list-style-type: none
}

section {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: cornsilk;
}

.cscenarios,
.vscenarios {
    margin-left: 2em;
}

/******************** All of my the bottom of my webpage or footer css will go below ********************/

footer {
    margin: 1rem auto;
    max-width: 50em;
    font-family: 'Lato', sans-serif;
}

footer {

    background-color: brown;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

footer {
    font-size: 15px;
    height: auto;
    line-height: inherit;
    max-width: 53em;
}

.footer a {
    color: white;
}

.footer p {
    color: yellow;
}

.footer p.year {
    color: white;
}