/******************** All of my the top of my webpage or header css will go below ********************/

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {

    header {
        width: 84.5em;
        height: 13em;
        padding-bottom: 1em;
        border-radius: 10px 10px;
    }

    .headericon {
        float: left;
        height: 11em;
        margin-left: .0em;
        margin-top: 3em;
    }

    header h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 1px;
        font-family: 'Carter One', cursive;
        color: white;
        display: block;
        margin-top: -.5em;
        margin-left: -.25em;

    }

    header h2 {
        font-size: 4em;
        text-align: center;
        line-height: 1px;
        font-family: 'Lato', cursive;
        color: white;
        padding-bottom: 1em;
        ;
    }
h2{
    margin:0;
   text-align: center;
    font-size: 2em;
    padding: 1em;
  
}
  h2.motto {
        font-size: 2em;
        margin: 0;
        background-color: inherit;
    }

    nav {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 10em;
    }


    .navigation {
        display: flex;
        margin-left: 4em;

    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        font-size: 2em;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li a {
        text-align: center;
        white-space: nowrap;
    }

    .navigation li a:hover {
        color: black;
        background:whitesmoke;
    }

   nav ul li a.active{
        color: black;
        background-color: goldenrod;
        
    }

    /* ****************************** this area is for images *************************************************** */

    .lazyload {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5em;
        padding-top: .5em;

    }

    .lazyload h2:nth-child(1) {
        grid-column: 1 / span 3;
    }

    .lazyload figure:hover {
        box-shadow: 0px 0px 11px 4px #999999;
    }



    /******************** All of my the middle of my webpage or main css will go below *******************/
    body {
        max-width: 90em;
        margin: 8.5em;
        margin-left: 17em;
        margin-top: 0;
    }

    main {
        width: 84.35em;
        justify-content: center;
    }


    /*-------------------------------------Contacts-------------------------*/
#d-elements{
    background: cadetblue;
    height: 21em;
    margin-top: 6em;
}
#contacts-container {
    display: inline-block;
    line-height: 1em;
    background: cadetblue;
}

.smedia {
    padding: .5em;
    width: 3em;
    height: 3em;
}

#s-elements .preston-map {
    float: right;
    width: 40em;
    height: 20em;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 12em;
}



#s-elements {
    padding: 1em;
    max-width: 960px;
    margin: 0 auto;
}

#s-elements .info {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

#s-elements p {
    padding-left: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;

}

    /******************** All of my the bottom of my webpage or footer css will go below *****************/

    footer {
        width: 54em;
        margin-left: 0;
        background-color: brown;
        text-align: center;
        color: white;
        font-size: 25px;
        padding: 1px;
        border-radius: 10px 10px;
    }

    /*end large */
}