/******************** All of my the top of my webpage or header css will go below ********************/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: .5rem;
    font-family: 'Carter One', sans-serif;
    margin: center;
}



header {
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: white;
    width: 100%;
}


.headericon {
    height: 5em;
    margin-bottom: 0;
    margin-top: 2em;
    margin-left: -.5rem;
}

header h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    margin-top: -1.55em;
    margin-left: 1rem;

}

.motto {
    padding: .5rem;
    font-family: 'Carter One', sans-serif;
    margin-left: 2.75rem;
    font-size: 1rem;
}

header h3 {
    font-size: .75rem;
    margin-left: 1.5rem;
    text-align: center;
    font-family: 'Lato', cursive;
    color: white;
}

nav {
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
    margin-left: -12em;
}



.navigation ul {
    margin: 0;
}

li {
    list-style: none;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: black;
    background-color: burlywood;
}

.responsive li {
    display: block;
}

/******************** All of my the middle of my webpage or main css will go below *******************/

body{
    background-color: cornsilk;
    font-family: 'Lato', sans-serif;
      
}


main {
    font-size: 1em;
    background-color: cornsilk;
}




/* ************* this area is to be used for all images ******************************************* */

.lazyload {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: .25em;

}

.lazyload img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: 16em;
}

.lazyload img[data-src] {
    filter: blur(0.2em);
}

.lazyload figure {
    text-align: center;
    margin: 0;
}

.lazyload figcaption {
    background-color: cadetblue;
    padding: 1em;
    margin: 0;
}

.lazyload h2 {
    text-align: center;
}


/*-------------------------------------Contacts-------------------------*/
#d-elements{
   background: cadetblue;
    height: 39em;
    margin-top: 2em;
    margin-bottom: 0;
}

.smedia {
    padding: .5em;
    width: 3em;
    height: 3em;
    margin-left: 1em;
    
}

#d-elements .preston-map {
    width: 20em;
    height: 20em;
    margin-top: 2em;
    margin-bottom:2em;
    margin-left: 1em;
    padding-bottom: 1em;
    
}



h3.info {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-left: 1em;
}

#d-elements p  {
    padding-left: .5em;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-bottom: .5em;
    margin-left: 1em;
    
    }

/******************** All of my the bottom of my webpage or footer css will go below *****************/

footer {
    text-align: center;
    padding-top: .5px;
    background-color: brown;
    color: white;
    margin-top: 0;
    font-size: 13px;
    height: 5em;
   
}

footer a {
    color: yellow;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*end of small */