/******************** All of my the top of my webpage or header css will go below ********************/

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {
  header {
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: white;
    width: 85.65em;
    margin-left: 16em;
    border-radius: 10px 10px 0 0;
  }

  .headericon {
    float: left;
    height: 11em;
    margin-left: 0em;
    margin-top: 3em;
  }

  header h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1px;
    font-family: "Carter One", cursive;
    color: white;
    display: block;
    margin-top: -0.5em;
    margin-left: -1em;
  }

  header h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 1px;
    font-family: "Lato", cursive;
    color: white;
    padding-bottom: 1em;
  }

  .navigation {
    display: flex;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li a {
    display: block;
    font-size: 2em;
    border: solid;
    border-color: cornsilk;
  }

  h2.motto {
    margin-left: -4em;
    margin-top: 1rem;
  }

  /******************** All of my the middle of my webpage or main css will go below *******************/
  #body-content {
    width: 84em;
  }

  h3.pi-head {
    margin-left: -3rem;
    text-align: center;
    font-size: 3em;
  }

  /* ****************************** this area is for images *************************************************** */
  .towns {
    display: flex;
    margin-left: -0.95em;
  }

  .info {
    flex-direction: column;
    font-size: 1rem;
  }

  .places {
    display: block;
    width: 33.5em;
    border: solid;
    border-color: brown;
    margin-left: 1.75em;
    margin-right: 0.5em;
  }

  h4 {
    text-align: center;
    font-size: 2em;
    margin-left: -0.75em;
    margin-bottom: 0.5em;
    margin-top: -0.25em;
  }

  h5 {
    text-align: center;
    font-size: 1em;
    margin-left: -0.75em;
  }

  .townPic {
    max-width: 100%;
    height: 30em;
    margin: 0;
  }

  /*-------------------------------------middle of the page-------------------------*/

  main {
    margin-left: 20em;
    width: 107em;
  }

  /*-------------------------------------Contacts-------------------------*/
   /* #contacts-container {
    display: inline-block;
    line-height: 1em;
    background: cadetblue;
    width: 105em;
    margin-left: .75em;
    height: 28em;
    border: solid;
    border-color: brown;
  }*/

 /* .smedia {
     display: inline-block;
    padding: 0.5em;
    width: 5em;
    height: 5em;
    margin-left: 0;
    
  }*/

  #s-elements .preston-map {
    float: right;
    width: 58em;
    height: 25em;
    margin-right: -8em;
    padding-bottom: 1em;
    margin-top: .75em;
    padding-left: 12em;
  }

  

 /* #s-elements .info {
    font-family: "Lato", sans-serif;
    font-size: 2.75em;
    margin-left: -6.5em;
    margin-top: .75em;*/
  }

  /*#s-elements p {
    margin-left: -5.25em;
    font-family: "Lato", sans-serif;
    font-size: 2.5em;
   
  }*/

  /******************** All of my the bottom of my webpage or footer css will go below *****************/

  footer {
   /* width: 54.78em;
    margin-left: 10.25em;
    margin-top: 0;*/
    background-color: brown;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 1px;
    border-radius: 0 0 10px 10px;
  }

  /*end large */
}
