/******************** All of my the top of my webpage or header css will go below ********************/

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5em) {
   
    header {
        
        width: 100vw;

    }
    .headericon {
        float: left;
        height: 18vh;
        margin-left: 16vw;
        margin-top: 4vh;
        margin-bottom: 0;
    }

    header h1 {
        font-size: 5vh;
        font-family: 'Carter One', cursive;
        color: white;
        display: block;
        margin-top: -8vh;
        margin-right: .25rem;
        margin-left: 30vw;
    
    }
    /*header h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 1px;
        font-family: 'Lato', cursive;
        color: white;
        padding-bottom: 1em;
        ;
    }*/
   
    .motto {
        margin-left: 4vw;
       
    }


    .navigation {
        display: flex;
        margin: 1em;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li a {
        display: block;
        font-size: 1.25rem;
        border: 3px solid cornsilk;
    }
    
    .navigation a {
        margin-left: 0vw;
    }
    
    .navigation li {
        display: block;
    }

    h2 {
        text-align: center;
        padding: .5rem;
        font-family: 'Carter One', sans-serif;
        margin-left: 3.5em;
    }

    h3.pic-head{
        font-size: 3rem;
        margin-left: 36vw;
    }

    /* ****************************** this area is for images *************************************************** */
    

    /******************** All of my the middle of my webpage or main css will go below *******************/
    #body-content{
        vertical-align: baseline;
    }

    main{
    margin-left: 0em;
    width: 100vw;
    height: 206vh;
    
    }

 /*home page styling */

 .places{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: 1vw;
    width: 97.5vw;

}

.places p{
    font-size: 3vh;
}

.townPic{
    max-width: 60%;
    height: 30em;
}

.places:nth-child(odd){
    flex-direction: row-reverse;
}


h4{
    text-align:center;
font-size: 4vh;
}

h5{
    font-size: 3vh;
}

.info{
    padding:10px;
    text-align: center;
  
}

    /*------------------------------ Contacts-----------------------------*/
    iframe{
        float: right;
        width: 65vw;
        margin-left: -1.25vw;
    }
    #contacts-container {
        display: inline-block;
        line-height: 1em;
        width: 97.55vw;
        margin-left: 1vw;
        margin-top: -.005vh;
        height: 40vh;
        border: solid;
        border-color: brown;
    }
    #s-elements .preston-map {
        float: right;
        width: 30em;
        height: 10em;
        margin-left: 25px;

    }

    /*#s-elements .info {
        margin: 1.25em;
        margin-left: -11em;
    }*/

   /* #s-elements p {
        margin: 1.25em;
    }*/

   /* .smedia {
        margin-left: 2em;
    }*/

    /******************** All of my the bottom of my webpage or footer css will go below *****************/

    footer {
        width: 100vw;
        margin-left: 0vw;
        margin-top: 0vh;
        background-color: brown;
        text-align: center;
        color: white;
        font-size: 25px;
        padding: 1px;
        border-radius: 0 0 10px 10px;
        height: 22vh;
    }

    /*end medium */
}