/******************** All of my the top of my webpage or header css will go below ********************/

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5em) {
    aside {
        display: flex;
        justify-content: center;
        font-size: 21px;
        background: radial-gradient(burlywood, brown);
        width: 100%;
        border-radius: 10px 10px;
        margin: auto;
    }

    header {
        display: grid;
        grid-template-columns: 6fr;
        grid-template-rows: 100px;
        align-items: center;
        justify-content: center;
        background-color: brown;
        color: white;
        max-width: 100%;
        border-radius: 10px 10px;
        margin: 0 auto;
    }

    .headericon {
        float: left;
        height: 11em;
        margin-left: 1em;
        margin-top: 3em;
        margin-bottom: 0;
    }

    header h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 1px;
        font-family: 'Carter One', cursive;
        color: white;
        display: block;
        margin-top: -.5em;
        margin-left: 2.25em;
    }

    header h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 1px;
        font-family: 'Lato', cursive;
        color: white;
        padding-bottom: 1em;
        ;
    }

    .motto {
        margin-left: -2.5em;
    }
    

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li a {
        display: block;
        font-size: 1.75em;
    }

    .navigation li {
        display: block;
    }

    h2 {
        text-align: center;
        padding: .5rem;
        font-family: 'Carter One', sans-serif;
        margin-left: 3.5em;
    }

    /* ****************************** this area is for images *************************************************** */
    .banner-img {
        max-width: 100%;

    }

    .news-img {
        float: right;
        max-width: 150em;
        height: 20em;
        margin-top: 25px;
        margin-right: 20px;
    }

    /******************** All of my the middle of my webpage or main css will go below *******************/
    .article {
        width: 100%;
        display: inline-block;
        /*grid-template-columns: repeat(2, 1fr);*/
        background: radial-gradient(cornsilk, cadetblue);
    }

    .pi-head {
        font-size: 4em;
        margin: 0;
    }

    body {
        background-color: cornsilk;
        font-family: 'Lato', sans-serif;
        display: grid;


    }

    .news-para {
        font-size: 1.5em;
        padding-left: 20px;

    }

    .forecast {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 18px;
        justify-content: right;
        margin-left: 9em;
        padding-top: 1em;
    }

    .forecasthead {
        font-size: 18px;
        justify-content: right;
    }

/* -----------------------------  lesson 7 lazy load --------------*/

    .lazyload {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }
    
    .lazyload h2:nth-child(1) {
		grid-column: 1 / span 2;
    }

    /* -----------------------------  lesson 8 storm report --------------*/

    .lazyload {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }
    
    .lazyload h2:nth-child(1) {
		grid-column: 1 / span 2;
    }

    /*------------------------------ Contacts-----------------------------*/
   
    
    /******************** All of my the bottom of my webpage or footer css will go below *****************/

    footer {
        max-width: 100%;
        margin-left: 0.5em;
        background-color: brown;
        text-align: center;
        color: white;
        font-size: 25px;
        padding: 1px;
        border-radius: 10px 10px;
    }

    /*end medium */
}