/* this is the small or main css file*/

/******************** All of the top portion of my website css will go below ********************/

header {
    margin: 1rem auto;
    max-width: 50em;
    height: auto;
    color: white;
    background-color: brown;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 1px;
    font-family: 'Carter One', cursive;

}

h2{
    font-family: 'Carter One', cursive;
    font-size: 1rem;
    color: black;
    font-family: 'Carter One', cursive;
}

header h2 {
    color: white;
    padding-top: 5px;
    font-size: 1.25em;
    }

h3 {
    color: black;
    font-family: 'Carter One', cursive;
}







/******************** All of the middle or body of my css will go below ********************/

main {
    max-width: 767px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 1.1rem auto;
    max-width: 50em;
    padding: .1rem;
    font-family: 'Lato', sans-serif;

}

section {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: burlywood;
}


img {
    max-width: 100%;
    border-radius: 25px;
    border-color: brown;

}
/******************* All of the bottom or footer information will go below here ********************/

footer {
    font-size: 15px;
    height: auto;
    line-height: inherit;
    max-width: 53em;
    margin: 1rem auto;
    max-width: 50em;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: brown;
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: white;
}

.footer p {
    color: yellow;
}

.footer p.year {
    color: white;
}
